body {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 5px 5px 10px black;
}

ul {
  list-style: none;
}

button {
  margin-top: 2%;
  float: right;
}

.jumbotron {
  background-color: #1fad1f;
  box-shadow: 5px 5px 10px black;
}

.show {
  display: block;
}

.hide {
  display: none;
}
